@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
@media (min-width: 0px) and (max-width: 500px) {
    header{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p{
        text-align: center;
        font-weight: bold;
    }
    span{
        font-weight: lighter;
    }
    #nome1{
        font-size: 2rem;
    }
    #nome2{
        font-size: 2rem;
    }
    main{
        display: flex;
        height: 88.4vh;
    }
    footer{
        background-color: aqua;
    }
}