@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --padrao:'Luckiest Guy';
    --cor0: #0455BF;
    --cor1: #0477BF;
    --cor2: #048ABF;
    --cor3: #049DBF;
    --cor4: #04ADBF;
    --cor5: #fafafa;
    --cor6: #551A8B;
}
*{
    margin: 0px;
    padding: 0px;
    font: normal 1.03em var(--padrao, sans-serif);
    color: var(--cor0);
}
main{
    display: flex;
}
#inicio1{
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;

}
a{
    text-decoration: none;
}

#inicio2{
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(To bottom, var(--cor0), var(--cor4));
}