@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --cor0: #0455BF;
    --cor1: #0477BF;
    --cor2: #048ABF;
    --cor3: #049DBF;
    --cor4: #04ADBF;
    --cor5: #fafafa;
    --cor6: #551A8B;
}
*{
    padding: 0px;
    margin: 0px;
    font-family:'Luckiest Guy', Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(To bottom, var(--cor0), var(--cor4));
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
/*header{
    font-size: 2em;
    height: 70px;
    background-image: linear-gradient(To bottom, var(--cor0), var(--cor3));
    text-align: center;
    color: var(--cor5);
    padding-top: 35px;
}*/
header > p{
    font-size: 2em;
    position: auto;
    text-shadow: 1px 1px 2px black;
    color: var(--cor5);
}
nav{
    text-align: center;
    /*background-image: linear-gradient(To bottom, var(--cor3), var(--cor4));*/
    background-color: var(--cor4);
}
nav > a {
    text-decoration: none;
    margin-right: 15px;
    padding: 2px;
}
nav > a:hover{
    background-color: white;
    border-radius: 15px;
}
a:active{
    color: var(--cor6);
}
main{ 
    width: 80%;
    background-color: var(--cor2);
    margin: auto;
    color: var(--cor5);
    text-align: center;
    font-size: 1em;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 3px black;
}
ul.celulargrande{
    display: none;
}
main > p{
    padding: 8px;
    font-size: 1.3em;
    text-decoration: none;
}
ul{
    list-style: none;
}
.tituloproduto{
    font-size: 1.2em;
}
.pasteis{
    padding: 8px;

}
.caracteristicas{
    font-size: 0.8em;
    font-weight: lighter;
    margin: 5px;
}
footer{
    background-color: var(--cor0);
    color: var(--cor5);
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 540px){
    ul.computador{
        display: none;
    }
    ul.celulargrande{
        display: block;
    }
    main > p{
     font-size: 1.5em;
    }
     li.produto {
     font-size: 1em;
    }
     li.caracteristicas{
     font-size: 0.8em;
    }
     li.tituloproduto{
     font-size: 1.4em;
     padding: 8px;
 
    }
    nav > a{
     font-size: 1em;
     margin-right: 5px;
    }
}

@media (max-width: 380px){
   main > p{
    font-size: 1.5em;
   }
    li.produto {
    font-size: 0.8em;
   }
    li.caracteristicas{
    font-size: 0.5em;
   }
    li.tituloproduto{
    font-size: 1em;
    padding: 8px;

   }
   nav > a{
    font-size: 1em;
    margin-right: 5px;
   }
}
