@media (min-width: 380px){
    ul.celulargrande{
        display: none;
    }
    ul.celularpequeno{
        display: block;
    }
   main > p{
    font-size: 1.5em;
   }
    li.caracteristicas{
    font-size: 0.8em;
   }
    li.tituloproduto{
    font-size: 1.4em;
   }
   nav > a{
    font-size: 1em;
   }
}